html {
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #195294; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #10335C; 
  }
/* CUSTOM COLOR CLASSES */
.custom1{color:white;background-color:#10335C}
.custom2{background-color:#195294;color:white}
/*SCROLL BACK TO TOP BUTTON*/
#returntotop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #10335C;
    color: white;
    cursor: pointer;
    padding: 2.5px;
    border-radius: 4px;
    width: 155px;
    text-align: center;
  }
  
  #returntotop:hover {
    background-color: #195294;
    width: 155px;
  }
#myBtn1 {
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: #10335C;
    cursor: pointer;
    padding: 2.5px;
    border-radius: 4px;
    width: 155px;
    text-align: center;
  }
  
  #myBtn1:hover {
    background-color: #195294;
    width: 155px;
  }
.nobar {
    overflow-y: hidden;
}
#subbutton {
    color: white;
    background-color: red;
    border-radius: 2px;
    padding: 7px;
}