  footer {
      position: fixed;
      bottom: 0;
      width: 0;
  }
  
  .contactIconDiv {
      background-color: #195294;
      width: 31px;
      border-radius: 5px;
      padding: 3px;
      padding-bottom: 0px;
  }
  footer a {
      margin: 5px;
      background-color: #10335C;
  }