@font-face {
  font-family: 'sary_soft_semiboldregular';
  src: url('/.src/font/sary-soft.soft-semibold-webfont.woff2') format('woff2'),
       url('/.src/font/sary-soft.soft-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
  #header {
    position: absolute;
    top: 60;
    width: 100%;
    height: 500px;
    z-index: -1;
  }
  #header h1 {
    font-size: 150px;
    padding-left: 70px;
  }

  
  .header a {
      font-size: 10px;
  }
  html {
    font-family: 'sary_soft_semiboldregular';
  }

  #error-msg {
    color: #bababa;
    position: absolute;
    left: 200px;
    right: 120px;
    bottom: 0;
    border: 3px #bababa solid;
    border-radius: 3px;
    padding-left: 20px;
    display: flex;
  }
