@font-face {
  font-family: 'sary_soft_semiboldregular';
  src: url('/.src/font/sary-soft.soft-semibold-webfont.woff2') format('woff2'),
       url('/.src/font/sary-soft.soft-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  font-family: 'sary_soft_semiboldregular';
  background-color: #bababa;
  margin: 0px;
}

  
  .body {
    margin-top: 500px;
  }

  #headerContent {
    background-image: url("/.src/assets/misc/headerBg.png");
    background-position: bottom;
    background-size: cover;
  }