* {
    box-sizing: border-box;
  }
  

  body {
    margin: 0;
  }
  
  
  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: 'sary_soft_semiboldregular';
    z-index: 9999999;
    top: 0;
  }
  .navbar a, button {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar button {
    background-color: none;
  }
  
  .dropmenu {
    float: left;
    overflow: hidden;
  }
  
  
  
  .navbar a:hover, .dropmenu:hover .dropmenubtn {
    background-color: #0D6769;
  }
  
  .dropmenu-content {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    margin-top: 50px;
  }

  .dropmenu-content-content {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-bottom: 2px;
    margin: 5px;
    margin-top: 10px;
    background-color: #ccc;
    border-radius: 10px;
  }
  
  .dropmenu-content .header-mega {
    background: #0D6769;
    padding: 16px;
    color: white;
    border-radius: 9px 9px 0px 0px;
  }

  #header-mega-all {
    background-color: #0E5773;
    margin: 5px;
    border-radius: 10px;
  }
  #header-mega-all a {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    font-size: 15px;
    border-radius: 8px;
  }
  
  .dropmenu:hover .dropmenu-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #ccc;
    height: 330px;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .column a:hover {
    background-color: #ddd;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }
  }






  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #0D6769;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    margin-top: 49px;
    border-radius: 10px;
  }

  .dropdown-content-content {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #0D6769;
    margin-top: 10px;
    padding: 3px;
    border-radius: 10px;
  }

  .dropdown-content-content a:hover {
    color: #0D6769;
    border-radius: 8px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Navbar button style */
  .navbarbtn, .navbar a{
    font-size: 16px;  
    border: none;
    border-radius: 4px;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 3px;
  }


  .column a {
    color: #0D6769;
  }

  .column a:hover {
    color: white;
  }

  .expandonhover {
    float: right;
    width: 55px;
    height: 55px;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
    overflow: hidden;
  }
  .navbar:hover .expandonhover {
    width: 230px;
  }